.section__landing {
}

.full__size {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: center;
  margin: 2rem 0 2rem 0;
}

.header > span {
  display: inline-block;
  font-size: 1.7rem;
  padding: 1rem 0 1rem 0;
  color: #ffae57;
  font-weight: 600;
}
