/**
 * @Author: Joshua Asare <joshuaasare>
 * @Date:   2019-08-17 12:02:28
 * @Last modified by:   joshuaasare
 * @Last modified time: 2019-09-08 19:15:18
 */
:root {
  --color-yellow-dark: rgb(244, 160, 29);
  --color-yellow-light: #e0ae63;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --color-transluscent: rgba(31, 42, 57, 0.85);

  --color-orange: #c25427;

  --color-pink-light: #db7093;
  --color-red-light: #f20056;

  --color-purple-dark: #201e50;
  --color-purple-dark-alt1: #c53064;
  --color-purple-dark-alt: #180f58;
  --color-purple-light: #3c338f;
  --color-pink-coral-reef: #edad9d;
  --color-pink-coral-reef-medium: rgba(245, 224, 210, 0.9);
  --color-pink-coral-reef-light: rgba(245, 224, 210, 0.25);
  --default-font-size: 1.6rem;

  --color-coe-primary: #ffd25a;
  --color-coe-secondary: #1f2a39;
  --color-coe-secondary-2: #3f3d56;

  --color-coe-secondary-light: rgba(31, 42, 57, 0.5);

  /*GRID*/
  --grid-width: 114rem;
  --gutter-vertical: 8rem;
  --gutter-vertical-small: 6rem;
  --gutter-horizontal: 3rem;
  --gutter-horizontal-small: 2.5rem;

  --toolbar-height-standard: 5rem;
  /*BIG DESKTOP*/
}
*,
*::after,
*::before {
  box-sizing: inherit !important;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box !important;
  scroll-behavior: smooth;
}

body {
  padding: 0 0 !important;
  font-family: 'Open Sans', sans-serif !important;
  background-color: var(--color-coe-secondary);
}

/*BIG DESKTOP*/
@media (max-width: 112.5em) {
  html {
    font-size: 75% !important;
  }
}

/*TAB LANDSCAPE*/
@media (max-width: 75em) {
  html {
    font-size: 56.25% !important;
  }
}
/*TAB PORTRAIT*/
@media (max-width: 56.25em) {
  html {
    font-size: 50% !important;
  }

  body {
    padding: 0 !important;
  }
}

/*PHONE*/
@media (max-width: 37.5em) {
  html {
    font-size: 50% !important;
  }

  :root {
    --toolbar-height-standard: 8rem;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5 !important;
}

::-webkit-scrollbar {
  width: 0.5rem !important;
  height: 0.5rem !important;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 !important;
}

/*=================================================================================================
 	Override all the bold fonts in semantic.min.css
 =================================================================================================*/
h1,
h2,
h3,
h4,
h5,
h6,
.ui.button,
.ui.header,
.ui.list .list > .item .header,
.ui.list > .item .header,
.ui.steps .step .title,
.ui.message .header,
.ui.items > .item > .content > .header,
.ui.statistics .statistic > .value,
.ui.statistics .statistic > .label,
.ui.statistic > .label,
.ui.modal > .header,
.ui.popup > .header,
.ui.search > .results .result .title,
.ui.search > .results > .message .header,
.ui.category.search > .results .category > .name {
  font-family: 'Lato-Bold', 'Lato Bold', 'Lato' 'Helvetica Neue', Arial,
    Helvetica, sans-serif;
}

/*=================================================================================================
 	UTILITY CLASSES
 =================================================================================================*/

.u-margin-bottom-small {
  margin-bottom: 1rem;
}
.u-margin-bottom-standard {
  margin-bottom: 3.5rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-right-small {
  margin-right: 0.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem;
}

.u-margin-bottom-tiny {
  margin-bottom: 0.3rem;
}

.u-margin-right-standard {
  margin-right: 2.5rem;
}

.u-grid-gutter-horizontal {
  margin-right: 3rem !important;
}

.u-grid-gutter-horizontal-none {
  margin-right: 0 !important;
}

.u-margin-right-medium {
  margin-right: 1.5rem;
}

/***Generic Styles***/

.row-cell {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.1rem 0 1rem 0.2rem;
  justify-content: space-between;
}

.row-cell__button {
  width: 100% !important;
  display: flex;
  justify-content: center;
  padding: 0.1rem 0 4rem 0;
}

.select-all__checkbox {
  display: flex !important;
  width: 100%;
  align-items: center;
  padding: 0.1rem 0 1rem 0.2rem;
}

.select-all__checkbox > span {
  display: inline-block;
  padding: 0 0.5rem 0 0.5rem;
  font-weight: 800;
}

.centeredContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.centeredContainer .active.loader {
  position: static;
}

.global-img-btn {
  padding: 8px !important;
}

.generic-list-avatar {
  background: rgba(238, 238, 238, 0.644);
  margin-right: 10px;
  width: 35px !important;
  height: 35px !important;
  font-size: 14px !important;
  object-fit: cover;
}

.generic-list-avatar img:before {
  content: ' ';
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  height: calc(100% + 5px);
  width: calc(100% + 3px);
  background-color: #eee;
  border-radius: 5px;
}

span.generic-large-detail-avatar {
  border: solid 1px #eee;
}

.generic-large-detail-avatar {
  background-color: #eee;
  width: 10rem;
  height: 10rem;
  min-width: 10rem;
  font-size: 5rem;
  border-radius: 5rem;
  /* margin-right: 3.5rem; */
  position: relative;
  object-fit: cover;
}
.generic-large-detail-avatar img:before {
  content: ' ';
  display: block;
  position: absolute;
  top: -6px;
  left: -8px;
  height: calc(100% + 10px);
  width: calc(100% + 16px);
  background-color: #eee;
  border: 1px dotted rgb(200, 200, 200);
  border-radius: 20px;
}
.generic-file-selector {
  min-width: 12em;
  border: 1px solid rgb(238, 238, 238);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 13px;
}
.generic-file-selector :active {
  opacity: 0.1;
}

.bold__text {
  font-weight: 800;
}

.vertical-scrollbar-style {
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  /* background-color: aqua; */
}

.animated-floating-btn {
  animation: bouncing-btn-anim 1.5s ease-in-out infinite;
  display: block;
  position: absolute;
  bottom: 4rem;
  right: 5rem;
  z-index: 100;
}
@keyframes bouncing-btn-anim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.35em);
  }
  100% {
    transform: translateY(0);
  }
}

/* pagination */
.pagination-div {
  border-top: solid 1px #ddd;
  background: white;
  right: 1%;
  left: 1%;
  padding: 1px 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin: auto;
  z-index: 5;
}
.pagination-div span {
  color: teal;
}

.pagination {
  margin: 0;
}

.pagination > li {
  display: inline;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  color: #777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: teal; /*teal;*/
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
  margin-left: -1px;
  border: none;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  background-color: teal;
  border-color: teal;
  cursor: default;
}

.ui.button.right-btn-icon:not(.icon) > .right.icon:not(.button):not(.dropdown) {
  margin: 0 0.42857143em 0 -0.21428571em;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

/***LETTERS***/

.letter-hidden {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -500;
  display: none;
}

/***START REGISTRATION INSTRUCTONS***/

.registration__toolbar {
  padding: 2rem 7rem 0 7rem;
}

.registration__toolbar > div {
  cursor: pointer;
  display: inline-block;
}

.registration {
  padding: 2rem 7rem 0 7rem;
}

.info {
  clip-path: ellipse(100% 55% at 50% 42%);
  /* background-color: var(--color-purple-dark); */
  background-color: #1f2a39;
  min-height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4rem;
}

.toolbar-logo {
  height: 3.5rem;
  cursor: pointer;
}

.registration__welcome {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.note_image-container {
  height: 20rem;
  display: flex;
  align-items: center;
}
.registration__welcome--main {
  font-size: 4rem;
  line-height: 4rem;
  display: inline-block;
  letter-spacing: 0.4rem;
  color: #fff;
}

.registration__welcome--sub {
  display: inline-block;
  padding: 2rem 0 0 0;
  font-size: 1.8rem;
  color: #fff;
}

.note_image {
  height: 15rem;
  margin-right: 5rem;
}

.registration__instructions {
  padding: 7rem 2rem 2rem 2rem;
  margin: -5rem 0 0 0;
  background-color: rgba(255, 210, 90, 0.1);
}

.registration__instruction-group {
  padding: 1rem 0 1rem 0;
  display: flex;
}

.registration__instruction-group-icon {
  fill: #ffd25a;
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 4rem;
}
.registration__instruction-group > div {
  height: 3rem;
  width: 3rem;
  padding-top: 0.3rem;
}

.registration__instruction-group > span {
  font-size: 1.5rem;
  line-height: 2.8rem;
  font-weight: 400;
}

.registration__button-container {
  padding: 2rem 0 2rem 0;
  display: flex;
  justify-content: flex-end;
}

.distribution__map {
  width: 100vw;
  padding: 0 5rem 0 5rem;
}

.flex__row {
  display: flex;
}

.distribution__icons {
  position: absolute;
  top: 20rem;
  right: 5.5rem;
  z-index: 1000000;
}

/**DETAILS**/

.details-box {
  width: 100%;
}

.details-box__body {
  padding: 3rem 15rem 3rem 15rem;
  width: 100%;
}

.details-box__body > .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.profile__avatar-container {
  width: 9rem;
  height: 9rem;
  border-radius: 1rem;
  font-size: 3rem;
}

.profile__avatar-image {
  height: 9rem;
  width: 9rem;
  border-radius: 1rem;
  font-size: 3rem;
}

.details-box__header {
  font-size: 1.5rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.details-box .info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.details-box .info-box .icon-container {
  width: 6rem;
  height: 6rem;
  background-color: var(--color-coe-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5rem;
  margin: 0 1.5rem 0 1.5rem;
}

.details-box .info-box .text {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 2rem 0 2rem;
  text-align: center;
}

.details-box .details-box__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 15rem 0 15rem;
}

.details-addition {
  position: relative;
  width: 100vw;
  margin: 1rem 0 2rem 0;
}

.details-addition__form {
  padding: 0 35rem 0 35rem;
  width: 100%;
}

.details-addition .button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem 0 0 0;
}

.details-addition .nav-buttons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 1px;
  border-color: teal;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms ease-in;
  background: white;
}

.details-addition .forward {
  width: 80px;
  justify-content: flex-end;
  display: flex;
}

.details-addition .backwards {
  width: 80px;
}

.details-addition .nav-buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0 1rem 0;
  align-items: center;
}

.details-addition .nav-buttons-container span {
  display: inline-block;
  font-weight: 600;
  font-size: 1.5rem;
  color: teal;
}

.details-addition .forward-button:hover,
.details-addition .backward-button:hover {
  opacity: 1;
  transform: scale(1.2);
}

/*TABLE*/

.list__table-container {
  display: block;
  overflow-x: auto;
  width: 100%;
}

.list__table {
  min-width: 650px;
  border-collapse: collapse;
}

.table-cell {
  width: 15rem;
  height: 3rem;
  text-align: center;
  border-bottom: 1px solid #eee;
  display: inline-block;
  vertical-align: middle;
  display: inline-block;
}

.table-cell > span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/**WIDTH MARKED AS IMPORTANT**/
.cell__1 {
  width: 1rem !important;
}

.cell__2 {
  width: 2rem !important;
}

.cell__3 {
  width: 3rem !important;
}

.cell__4 {
  width: 4rem !important;
}

.cell__5 {
  width: 5rem !important;
}

.cell__6 {
  width: 6rem !important;
}

.cell__7 {
  width: 7rem !important;
}

.cell__8 {
  width: 7rem !important;
}

/**FILTERS**/
.filters__svg {
  height: 13rem;
}

.filters__svg-container {
  height: 15rem;
  display: flex;
  justify-content: center;
}

.filters {
  padding: 0 10rem 0 10rem;
  width: 100%;
}

/*BIG DESKTOP*/
@media (max-width: 112.5em) {
}

/*TAB LANDSCAPE*/
@media (max-width: 75em) {
}
/*TAB PORTRAIT*/
@media (max-width: 56.25em) {
  .registration__toolbar {
    padding: 1rem 4rem 0 4rem;
  }
  .registration {
    padding: 2rem 4rem 0 4rem;
  }

  .info {
    min-height: 55rem;
  }

  .distribution__icons {
    position: absolute;
    top: 22rem;
    right: 7rem;
    z-index: 1000000;
  }

  .details-box__body {
    padding: 3rem 5rem 3rem 5rem;
    width: 100%;
  }

  .details-box .details-box__footer {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem 0 5rem;
  }

  .details-addition__form {
    padding: 0 15rem 0 15rem;
    width: 100%;
    overflow-y: auto !important;
  }
}

/*PHONE*/
@media (max-width: 37.5em) {
  .registration__toolbar {
    padding: 1rem 2rem 0 2rem;
  }
  .registration {
    padding: 2rem 2rem 0 2rem;
  }

  .registration__welcome--main {
    font-size: 2.3rem;
    line-height: 3rem;
    display: inline-block;
    letter-spacing: 0.4rem;
  }

  .registration__welcome--sub {
    display: inline-block;
    padding: 2rem 0 0 0;
    font-size: 2rem;
  }

  .registration__instruction-group > span {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 400;
  }

  .distribution__map {
    width: 100vw;
    padding: 0 2rem 0 2rem;
  }

  .distribution__icons {
    top: 22rem;
    right: 4rem;
  }

  .details-box__body {
    padding: 3rem 0 3rem 0;
    width: 100%;
  }

  .details-box .info-box .icon-container {
    width: 6rem;
    height: 6rem;
  }

  .details-box .info-box .text {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 2rem 0 2rem;
    text-align: center;
  }

  .details-addition {
    position: relative;
    margin-top: 3rem;
    width: 100vw;
  }

  .details-addition__form {
    padding: 0 5rem 0 5rem;
    width: 100%;
    overflow-y: auto !important;
  }
}

/*EXTRA PHONE OPTIMIZATION*/
@media (max-width: 25em) {
  .details-box__body {
    padding: 2rem 0 2rem 0;
    width: 100%;
  }

  .details-box .details-box__footer {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    padding: 0 0 0 0;
  }

  .details-addition__form {
    padding: 0 2rem 0 2rem;
    width: 100%;
    overflow-y: auto !important;
  }

  .details-addition .forward-button {
    right: 1rem;
  }

  .details-addition .backward-button {
    left: 1rem;
  }
}

/***END REGISTRATION INSTRUCTONS***/

/*BIG DESKTOP*/
@media (max-width: 112.5em) {
}

/*TAB LANDSCAPE*/
@media (max-width: 75em) {
}
/*TAB PORTRAIT*/
@media (max-width: 56.25em) {
}

/*PHONE*/
@media (max-width: 37.5em) {
}

/*EXTRA PHONE OPTIMIZATION*/
@media (max-width: 25em) {
}
