/* 📌Note: using BEM convention in this css */

[data-is-active='no'] :hover {
  opacity: 0.7;
  transform: scale(1.01);
}

[data-type='icon'] {
  position: absolute;
  opacity: 0.4;
  top: 50%;
  transform: translateY(-50%);
  z-index: 40;
  cursor: pointer;
}

[data-is-active='yes'] img {
  opacity: 1;
}

.template-carousel {
}

.template-carousel__icon {
  position: absolute;
  opacity: 0.4;
  top: 50%;
  transform: translateY(-50%);
  z-index: 40;
  cursor: pointer;
}

#carousel-prev-btn {
  left: 30px;
}

#carousel-next-btn {
  right: 30px;
  display: none;
}

/*TAB LANDSCAPE*/
@media (max-width: 75em) {
}

/*TAB PORTRAIT*/
@media (max-width: 56.25em) {
}

/*PHONE*/
@media (max-width: 37.5em) {
}

/*EXTRA PHONE OPTIMIZATION*/
@media (max-width: 25em) {
}
