/* 📌Note: using BEM convention in this css */

[data-is-active='no'] :hover {
  opacity: 0.7;
  transform: scale(1.01);
  transition: all 200ms ease;
}

[data-is-active='no'] {
}

[data-is-active='yes'] img {
  opacity: 1;
}

#carousel-prev-btn {
  left: 30px;
  display: none;
}
#carousel-next-btn {
  right: 30px;
  display: none;
}

/*TAB LANDSCAPE*/
@media (max-width: 75em) {
}
/*TAB PORTRAIT*/
@media (max-width: 56.25em) {
}

/*PHONE*/
@media (max-width: 37.5em) {
}

/*EXTRA PHONE OPTIMIZATION*/
@media (max-width: 25em) {
}
